.container-contactus {
    width: 100%;

    .content {
        @include contentBaseStyles;

        .contact-form {
            
            .links {
                display: flex;
                justify-content: space-between;

                @include breakpoint(tablet-sm) {
                    flex-direction: column;
                }

                .buttons,
                .social-media {
                    margin-top: 1.5rem;
                }

                .buttons {

                    .recaptcha-box {
                        height: 7rem;
                        width: 20rem;
                        background-color: red;
                        margin-bottom: 2rem;

                        @include breakpoint(tablet-sm) {
                            margin-bottom: 1.5rem;
                        }
                    }

                    @include breakpoint(tablet-sm) {
                        margin-top: 2rem;
                        margin-bottom: 5rem;
                    }
                }


                .social-media {
                    display: flex;
                    flex-wrap: wrap;

                    @include breakpoint(mobile-lg) {
                        justify-content: space-between;

                        svg {
                            --size: 5rem;
                            height: var(--size);
                            width: var(--size);
                        }
                    }

                    &>*:not(:last-child) {
                        margin-right: .5rem;
                        margin-bottom: 1rem;
                    }

                    
                }
            }
        }
    }
}