.footer {
	width: 100vw;
	padding: 5% 0;
	background-color: $color-black;

	@include breakpoint(tablet-sm) {
		padding: 20% 0 13% 0;
	}

	&__content {
		width: var(--home-section-content-width);
		margin: 0 auto;

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 5rem;

			@include breakpoint(tablet-sm) {
				flex-direction: column;
			}

			.text-box {
				width: 35%;

				@media only screen and (max-width: 930px) {
					width: 40%;
				}

				@include breakpoint(tablet-sm) {
					width: 100%;
					padding: 0 1.3rem;
					display: flex;
					flex-direction: column;

					a {
						align-self: center;
					}
				}

				a {
					display: inline-block;
					margin-bottom: 2.5rem;

					@include breakpoint(tablet-sm) {
						// margin: 0 auto;
					}


					img {
						height: 6rem;

						@include breakpoint(tablet-sm) {
							height: 5rem;
						}
					}
				}

				h3 {
					@include breakpoint(tablet-sm) {
						margin-bottom: 3rem;
					}
				}

			}

			&-span {
				background-color: #333333;
				display: none !important;

				@include breakpoint(tablet-sm) {
					display: block !important;
				}
			}

			.links-box {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				@include breakpoint(tablet-sm) {
					width: 100%;
					margin-top: 5rem;
					padding: 0 1.3rem;
				}

				.social-media {
					margin-bottom: 1rem;

					@include breakpoint(tablet-sm) {
						margin-bottom: 2rem;
					}
				}

				.page-links {
					display: flex;

					@include breakpoint(tablet-sm) {
						flex-direction: column;
						align-items: flex-end;
					}

					& > *:not(:last-child) {
						margin-right: 4em;

						@media only screen and (max-width: 930px) {
							margin-right: 2.5em;

							@include breakpoint(tablet-sm) {
								margin-right: 0;
								margin-bottom: 2rem;
							}
						}
					}

					h3 {

						@include breakpoint(tablet-sm) {
							font-size: 14px;
						}
					}
				}
			}
		}

		&-midline {
			background-color: $color-grey-dark;
		}

		&-bottom {
			h3 {
				margin-top: 2.5rem;
				text-align: center;

				@include breakpoint(tablet-sm) {
					font-size: 11px;
				}
			}
		}
	}
}
