.section-hero-text {

    .word {
        display: inline-block;
        position: relative;
        color: $color-blue;
        z-index: 1;

        &::before {
            // content: url(../../assets/images/exchange-section-line-svg.svg);
            position: absolute;
            bottom: -23px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}