:root {
    --input-padding-vertical: 2rem;
    --input-padding-horizontal: 4rem;
}

@include breakpoint(tablet-sm) {
    :root {
        --input-padding-vertical: 1.5rem;
        --input-padding-horizontal: 2.5rem;
    }
}

.form {
    width: 100%;

    &-input,
    &-select-box,
    &-textarea {
        margin-bottom: 1rem;
    }

    &-input {
        width: 100%;
        height: var(--input-height);
        border-radius: var(--input-border-radius);
        border: 1px solid $color-input-border;
        padding: var(--input-padding-vertical) var(--input-padding-horizontal);
        color: #00CEDE;
        transition: all .3s ease-out;
        
        &:focus {
            outline: none;
            border: 1px solid $color-input-border-focus;
            color: $color-blue;
        }
        &::placeholder {
            color: inherit;
        }
    }
    &-textarea {
        height: 17rem;
        font-family: inherit;
        &::placeholder {
            font-family: inherit;
        }
    }
    &-select-box {
        position: relative;
        height: var(--input-height);

        select {
            height: 100%;

            &:focus {
                & ~ svg {
                    path {
                        stroke: #D9D9D9;
                    }
                }
            }
        }

        svg {
            position: absolute;
            right: var(--input-padding-horizontal);
            top: 50%;
            transform: translateY(-50%);
        }
        
    }
}