.navigation {
    width: 100vw;
    height: 15vh;
    min-height: 7rem;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include breakpoint(tablet) {
        height: 8rem;
    }

    &__content {
        width: 82%;
        max-width: 117rem;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint(tablet) {
            width: 87%;
        }

        &-logo {
            height: 100%;

            a {
                height: 100%;
                display: flex;
                align-items: center;
                
                img {
                    height: 100%;
                    max-height: 5rem;

                    @include breakpoint(tablet-sm) {
                        max-height: 3.8rem;
                    }
                }
            }
        }

        &-links {
            display: flex;
            align-items: center;

            @include breakpoint(tablet-sm) {
                display: none;
            }

            & > *:not(:last-child) {
                margin-right: 2rem;
                opacity: .7;
            }

            a {
                display: inline-block;
            }
        }
    }
}